* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.col-1 {
    padding: 10px;
    width: 35vw;
    max-height: 77vh;
    overflow-y: scroll;
}

.col-1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-1 #q {
    padding: 8px;
    width: 100%;
    margin-top: 1%;
}

.col-1 #search-btn {
    background-color: rgb(8, 118, 0);
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}

.facility-card {
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px 1px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

/* New styles to align image and org name in one row */
.facility-header {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.facility-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid cyan;
}

.facility-card .org-name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.facility-card .contact {
    margin-bottom: 15px;
}

.facility-card a {
    background-color: blue;
    color: white;
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col-2{
    width: 100%;
}
#mapid {
    height: 80vh;
    width: auto;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }

    .col-1 {
        width: auto;
    }

    .col-2 {
        margin: 1%;
    }

    #mapid {
        width: 95%;
        height: 300px;
        margin: auto;
    }
}
