/* Responsive CSS Here */
@media screen and (max-width: 950px) {
  .searchbar {
    display: none;
  }

  .message {
    display: none;
  }

  .nav-img {
    height: 25px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 800px;
  }
}


@media screen and (max-width: 490px) {
  header {
    padding: 0 10px;
    justify-content: space-between;
  }

  .main {
    padding: 10px;
  }

  .logosec {
    width: 100%;
    justify-content: space-around;
  }
  
  .logo {
    font-size: 20px;
  }

  .menuicn {
    height: 25px;
  }

  .nav-img {
    height: 25px;
  }


  .nav-upper-options {
    gap: 15px;
  }

  .recent-Articles {
    font-size: 20px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 550px;
  }
}

@media screen and (max-width: 400px) {
  .main {
    padding: 10px;
  }

  .recent-Articles {
    font-size: 17px;
  }

  .view {
    width: 60px;
    font-size: 10px;
    height: 27px;
  }

  .report-header {
    display: inline;
    height: 60px;
    padding: 10px 10px 5px 10px;
  }

  .searchbtn img {
    height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .recent-Articles {
    font-size: 12px;
  }

  .view {
    width: 50px;
    font-size: 8px;
    height: 27px;
  }

  .report-header {
    display: inline;
    height: 60px;
    padding: 10px 5px 5px 5px;
    margin: auto;
  }

  .t-op {
    font-size: 12px;
  }

  .t-op-nextlvl {
    font-size: 10px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 300px;
  }

  .label-tag {
    width: 70px;
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .searchbar {
    display: none;
  }

  .message {
    display: none;
  }

  .report-body {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    align-items: center;
  }
}

/* Hide nav-links by default on small screens */
@media (max-width: 500px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 60px; /* adjust based on header height */
    right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 100;
  }
  .nav-links a{
    background-color: black;
    font-size: 14px;
  }
  .nav-links.show {
    display: flex;
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
  }
}

/* Ensure nav is shown on wider screens */
@media (min-width: 501px) {
  .menu-btn {
    display: none;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 15px;
  }
}
