.custom-translate-btn {
    position: fixed;
    top: 80%;
    right: 20px;
    width: 150px; /* Fixed width */
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    z-index: 1000;
  }

.translate-popup {
  display: none;
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.translate-popup-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}
